<h1>Welcome to Contact Page</h1>

<a href="/contact/add" class="btn btn-primary mb-3">Add New Contact</a>

<p><b>Contact List:</b></p>

<div class="d-flex flex-row">
    <div class="p-2">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th scope="col-2">No.</th>
                    <th scope="col-3">Name</th>
                    <th scope="col-3">Email</th>
                    <th scope="col-3" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (cont.length === 0) { %>
                    <p><i><b>Data is empty</b></i></p>
                    <% }else { %>
                        <% let count=1 %>
                            <% cont.forEach(element=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= count %>
                                    </th>
                                    <td>
                                        <%= element.name %>
                                    </td>
                                    <td>
                                        <%= element.email %>
                                    </td>
                                    <td><a href="/contact/<%= element.name %>"><button type="button"
                                                class="btn btn-outline-primary">detail</button></a>
                                        <a href="/contact/update/<%= element.name %>"><button type="button"
                                                class="btn btn-outline-success">update</button></a>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                            data-bs-target="#modal<%= count %>">
                                            delete
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="modal<%= count %>" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5>Are you sure want to delete <%= element.name %> contact?</h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <form action="/contact/delete" method="post" class="d-inline">
                                                            <input type="hidden" name="idName" value="<%= element.name %>">
                                                            <button type="submit" class="btn btn-danger">delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <% count++; %>
                                    <% }) %>
                                        <% } %>
            </tbody>
        </table>
    </div>

</div>